<app-header></app-header>
<main>
    <section class="world-map-svg">
      <object type="image/svg+xml" data="assets/world-map.svg"  id="wm" #svgObject></object>   
    </section>
    <section class="country-details">
      <div *ngIf="countryData.countryName">
            <h3>The country selected is {{ countryData.countryName }}</h3>
            <ul>
                  <li><p><b>Capital City: </b> {{ countryData.capitalCity }} </p></li>
                  <li><p><b>Region: </b> {{ countryData.region }} </p></li>
                  <li><p><b>Income Level: </b> {{ countryData.incomeLevel }} </p></li>
                  <li><p><b>Latitude: </b> {{ countryData.latitude }} </p></li>
                  <li><p><b>Longitude: </b> {{ countryData.longitude }} </p></li>
            </ul>
      </div>
      <div *ngIf="countryData.errorMessage">
            <h3> {{ countryData.errorMessage }} </h3>
      </div>
    </section>
</main>
